:root
{
  --border-clr: rgb(168, 168, 168);
  --repo-text-clr: rgb(77, 77, 77);
}

*
{
  margin: 0;
  padding: 0;
}

body
{
  width: 100%;
  height: 100vh;
}

#root
{
  width: 100%;
  height: 100%;
}

header
{
  height: 70vh;
  width: 100%;
  background-color: rgb(39, 39, 39);
}

main
{
  min-height: 65vh;
  height: auto;
  display: grid;
  grid-template-columns: 20% 80%;
}

aside
{
  width: 100%;
  height: 100%;
  border-right: 1px solid var(--border-clr);
}

#avatar
{
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: contain;
}

.flex
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.fl-col { flex-direction: column; }

.fl-wrap {flex-wrap: wrap;}


h1
{
  margin-bottom: 20px;
  color: white;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.50);
  font-size: 4vw;
}

#search
{
  width: 35%;
  height: 48px;
  background-color: white;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.50);
  margin-top: 20px;
  display: flex;
}

#search > img
{
  margin: 6px;
  width: 36px;
  opacity: 0.25;
}
#search > img:first-child
{
  animation-name: blink;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink
{
  0%, 50%
  {
    margin: 6px;
    width: 36px;
    opacity: 0.25;
  }

  51%, 100%
  {
    margin: 6px;
    width: 36px;
    opacity: 0.0;
  }
}

#search input[type=text]
{
  position: relative;
  
  height: 48px;
  width: calc(100% - 96px);
  margin: 0;
  border: none;
  outline: none;
  font-size: x-large;
  text-align: center;
}

#search input[type=text]:focus 
{
  background-color: rgba(0, 0, 0, 0.05);
}

.repo-card
{
  width: 40%;
  height: 4cm;
  border: 1px solid var(--border-clr);
  border-radius: 1vw;
  position: relative;
  box-sizing: border-box;
  margin: 50px;
  font-size: 0.9rem;
  word-wrap: break-word;
  display: grid;
  grid-template-columns: 10% 90%;
}

.text-section > p 
{
  max-width: max-content;
  color: var(--repo-text-clr);
}

section
{
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1250px ) 
{
  .repo-card
  {
    width: 80%;
  }

  main
  {
    grid-template-columns: 40% 60%;
  }

}

.icons
{
  background-color: rgb(39, 39, 39);
  width: 100%;
  height: 100%;
  border-top-left-radius: 0.9vw;
  border-bottom-left-radius: 0.9vw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding: 0;
  z-index: -1;
}

.text-section
{
  padding: 0.8rem;
  padding-top: 1.4rem;
  padding-bottom: 1.45rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

img { width: 35%; }